@media only screen and (max-width: 600px) {
	/* Lower Resolution Screens only START*/
	.searchbar {
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
	}
	.searchbar__searchinput{
		height: 25px;
	}
	.searchbar__searchbutton {
		cursor: pointer;
		height: 25px;
		width: 25px;
		margin-left: 10px;
		background: url(./img/searchbutton_icon.svg) no-repeat;
		background-size: cover;
	}

	.login {
		display: flex;
		flex-direction: column;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		width: 80%;
		top: 50%;
		margin: auto;
	}
	.login__logintitle {
		font-family: 'Open Sans', sans-serif;
		font-size: large;
	}

	.articlelist__article {
		border: 2px groove darkgray;
		max-width: 100%;
		cursor: pointer;
		margin: auto;
		margin-bottom: 20px;
	}
	.articlelist__articleimage {
		width: 100%;
	}
	.articlelist__articletext {
		margin: 10px 15px 0 15px;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
	}
	.articlelist__articletitle {
		font-size: large;
	}
	.articlelist__articlecontent {
		font-size: small;
	}
	/* Lower Resolution Screens only END*/
}

@media only screen and (min-width: 601px) {
	/* Higher Resolution Screens only START*/
	.searchbar {
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 10px;
	}
	.searchbar__searchinput{
		height: 25px;
	}
	.searchbar__searchbutton {
		cursor: pointer;
		height: 25px;
		width: 25px;
		margin-left: 10px;
		background: url(./img/searchbutton_icon.svg) no-repeat;
		background-size: cover;
	}

	.login {
		display: flex;
		flex-direction: column;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
		width: 30%;
		top: 50%;
		margin: auto;
	}
	.login__logintitle {
		font-family: 'Open Sans', sans-serif;
		font-size: x-large;
	}

	.articlelist__article {
		border: 3px groove darkgray;
		padding: 20px 40px 40px;
		max-width: 80%;
		display: flex;
		cursor: pointer;
		margin: auto;
		margin-bottom: 20px;
	}
	.articlelist__articleimage {
		margin: 20px 30px 0 0;
		top: 50%;
		width: 300px;
		object-fit: contain;
		align-self: flex-start;
	}
	.articlelist__articletext {
		flex: 1 1 auto;
		font-family: 'Open Sans', sans-serif;
		font-weight: 600;
	}
	.articlelist__articletitle {
		font-size: x-large;
	}
	.articlelist__articlecontent {
		font-size: medium;
	}
	/* Higher Resolution Screens only END*/
}
